<app-player *ngFor=" let player of game.players; let i = index" [ngStyle]="{'top.px': 18 + i * 100}" class="player-position" [name]="player" [playerActive]="i == game.currentPlayer "></app-player>

<div class="field">
    <div class="card-stack">

        <img [ngStyle]="{'right.px': i * 3}" *ngFor=" let c of [0,1,2,3,4]; let i = index" src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 15px;" src="assets/img/cards/card_cover.png">
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png" alt="">
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class=" pick-card" style="right: 15px;" src="assets/img/cards/{{ this.game.currentCard }}.png">
    </div>

</div>

<app-game-info class="game-info" [card]="game.currentCard"></app-game-info>


<button mat-fab color="primary" class="button-position" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<button mat-fab color="primary" class="info-Button" (click)="openShowPlayerDialog()">
    <mat-icon>info</mat-icon>
</button>